{% extends "base.html" %}
{% block title %}Login
{% endblock %}
{% block content %}
    <div align="center" style="background: #222A0A; height: 950px">
    <div align="center" style="padding-top: 5px">
            <div align="center" style="background: #D9E5EF; text-align: center; font-size: 55px; width: 55%;padding-top: 10px; border-bottom:2px solid blue;" class="flow-text">HonestWrite</div>
    <div style="padding-top: 5%; width: 55%; height: 850px; background: white" align="center">
                            {% if notlogin %}
        <div id="alert1"  style="width: 30%; height: 5%; padding-top: 0.5%" align="center" class="card red-text center">
   <a href="/" id="close1" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span>Please check User ID and Password.</span>
    </div><br/>
    {% endif %}
        {% if emailSent %}
        <div id="alert1" class="card red-text center" style="width: 30%; height: 5%; padding-top: 0.5%">
   <a href="/" id="close1" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Email was successfully sent.</strong>
    </div><br/>
    {% endif %}
    <div align="center">
    <form class="form" method="post" action=".">{% csrf_token %}
        <div class="form-group" style="width: 45%">
            <input type="text" id="username" name="username" class="form-control" style="font-size: large; color: black;" placeholder="Enter Username" required/>
        </div><br/>
        <div class="form-group" style="width: 45%">
            <input type="password" id="password" name="password" class="form-control" style="font-size: large; color: black" placeholder="Enter Password" required/>
        </div><br/>
        <button type="submit" class="btn green" style="width: 45%">Login</button><br/><br/>
        <a href="/register" class="btn green" style="width: 45%">Register</a>
    </form>
        </div>
    <br>
    <a href="/forgotpwd" style="text-align: center; font-size: 14px">Forgot Password?</a>
</div>
    </div>
    </div>
{% endblock %}