<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
          <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/core/static/css/materialize.min.css"  media="screen,projection"/>
    </head>
    <body background="/core/static/background.jpg">
        {% block content %}{% endblock %}                   <!-- Create content block -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
         <script type="application/javascript" src="/core/static/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/core/static/js/materialize.min.js"></script>
         <script type="text/javascript">
            $(document).ready(function() {
    $('select').material_select();
});
            </script>
    </body>
</html>