<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Login to Honest Write
            {% block title %}{% endblock %}</title>
    <style type="text/css">
html, body {
  margin:0;
  padding:0;
  height:100%;
}
</style>
    <link rel="stylesheet" type="text/css" href="/core/static/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/core/static/css/bootstrap-responsive.min.css"/>
    <script src="/core/static/jquery.min.js"></script>
<script type="text/javascript" src="/core/static/js/bootstrap.min.js"></script>
    </head>
    <body background="/core/static/background.jpg">
        {% block content %}{% endblock %}                   <!-- Create content block -->

    </body>
</html>