<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>
            {% block title %}{% endblock %}</title>
            <link rel="stylesheet" type="text/css" href="/core/static/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/core/static/css/bootstrap-responsive.min.css"/>
        <script src="/core/static/jquery.min.js"></script>
        <script type="text/javascript" src="/core/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/core/static/schools.js"></script>
</head>
    <body background="/core/static/background.jpg">
         <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home/">HonestWrite</a>
                </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home/">Dashboard</a></li>
                <li><a href="/addclass/">Classes</a></li>
            </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/profile/"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
                    <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
         </nav>
        {% block content %}{% endblock %}                   <!-- Create content block -->
    </body>
</html>