<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>
            {% block title %}{% endblock %}</title>
    <script type="text/javascript" src="/core/static/schools.js"></script>
                  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/core/static/css/materialize.min.css"  media="screen,projection"/>


</head>
    <body background="/core/static/background.jpg">
         <div class="navbar-fixed">
         <nav class="nav-wrapper" style="padding-left: 0">
            <div class="container-fluid">
                     <ul class="nav navbar-nav">
                         <li class="waves-effect waves-light"><a href="/home/" style="pointer-events: none">HonestWrite</a></li>
                         <li class="waves-effect waves-light"><a href="/home/">Dashboard</a></li>
                         <li class="waves-effect waves-light"><a href="/addclass/">Classes</a></li>
                         <li class="waves-effect waves-light"><a href="/reports/">Reports</a></li>
                     </ul>
                <ul class="right">
                    <li style="padding-top: 2.5%"><span class="span-logo"><img style="border-radius: 50%" class="circular-pic" src="{{ request.session.profilepic }}" width="50" height="50"/></span></li>
                    <li class="waves-effect waves-light"><a class="active" href="/profile/">{{ request.user.first_name }} {{ request.user.last_name }}</a></li>
                    <li class="waves-effect waves-light"><a class="active" href="/logout/">Logout</a></li>
                </ul>
            </div>
         </nav>
         </div>
        {% block content %}{% endblock %}
         <!-- Create content block -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
         <script type="application/javascript" src="/core/static/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/core/static/js/materialize.min.js"></script>
         <script type="text/javascript">
            $(document).ready(function() {
    $('select').material_select();
});
            </script>
    </body>
</html>