<!DOCTYPE html>
<html>
    <head>{% block head %}
          <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/core/static/css/materialize.min.css"  media="screen,projection"/>
        <script type="text/javascript" src="/core/static/schools.js"></script>
        {% endblock %}
 </head>
    <body background="/core/static/background.jpg">
         <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                    <li class="waves-effect waves-light"><a>HonestWrite</a></li>
                <li><a href="/studentHome/" class="waves-effect waves-light">Dashboard</a></li>
                        <li><a href="#myModal" id="registerClass" class="waves-effect waves-light modal-trigger">Register to a Class</a></li>
                     <!-- Trigger the modal with a button -->
  <!-- Modal -->

</ul>
                <ul class="right">
                    <li style="padding-top: 2.5%"><span class="span-logo"><img style="border-radius: 50%" class="circular-pic" src="{{ request.session.profilepic }}" width="50" height="50"/></span></li>
                    <li><a href="/studentHome/profile/"><span class="waves-effect waves-light"></span> {{ request.user.first_name }} {{ request.user.last_name }}</a></li>
                    <li><a href="/logout/"><span class="waves-effect waves-light"></span> Logout</a></li>
                </ul>
            </div>
                </div>
         </nav>
           <div class="modal" id="myModal">
      <!-- Modal content-->
      <div class="modal-content">
          <h3 style="color: black">Register a Class!!</h3>
          <form role="form" id = "register-form" action="/studentHome/registerclass/" method="post">{% csrf_token %}
            <div class="form-group" style="padding-bottom: 5%; padding-top: 3%">
              <label for="classid" style="color: black">Class ID</label>
              <input type="text" id="classid" name="classid" style="color: black">
                <span id='checkclass_status' style="color: black"></span>
            </div>
              <button type="submit" id="submitButton" name="submitButton" class="btn btn-success btn-block" disabled><span class="glyphicon glyphicon-save-file"></span> Register</button>
          </form>
        </div>
      </div>
      <div style="padding-left: 15px">
        {% block content %}{% endblock %}</div>
         <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="/core/static/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
    $('select').material_select();
});
        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal-trigger').leanModal();
        });
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
        });
        var previous_classid = '';
        var in_ajax = 0;
        function checkClass() {
            var classid = $("#classid").val();
                if ((previous_classid != classid) && (classid != '') && (in_ajax != 1)) {
                in_ajax = 1;
                $("#checkclass_status").html("<img src='/core/static/load-icon.gif' />");
                $("#checkclass_status").load('/studentHome/checkclass/', {classid: classid}, function() {in_ajax = 0;});
            }
            previous_classid = classid;
        }
        function checkValues() {
            var val1 = document.getElementById('checkclass_status').innerHTML;
            document.getElementById("submitButton").disabled = val1 != "You can register to this class";

        }
        $(function() {
            setInterval("checkClass()", 100);
            setInterval("checkValues()", 10 );
        });
        </script>
    </body>
</html>