<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %}</title>
            <link rel="stylesheet" type="text/css" href="/core/static/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/core/static/css/bootstrap-responsive.min.css"/>
        <script src="/core/static/jquery.min.js"></script>
        <script type="text/javascript" src="/core/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/core/static/schools.js"></script>
</head>
    <body background="/core/static/background.jpg">
         <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/studentHome/">HonestWrite</a>
                </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/studentHome/">Dashboard</a></li>

                <li><a href="#" id="registerClass">Register to a Class</a></li>
                                <div class="container">
                     <!-- Trigger the modal with a button -->
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <span><h3>Register a Class!!</h3></span>
        </div>


        <div class="modal-body">

          <form role="form" id = "register-form" action="/studentHome/registerclass/" method="post">{% csrf_token %}
            <div class="form-group" style="padding-bottom: 5%; padding-top: 3%">
              <label for="classid"><span class="glyphicon glyphicon-user"></span> Class ID</label>
              <br/><input type="text" class="form-control" id="classid" name="classid" placeholder="Class ID">
                <span id='checkclass_status'></span>
            </div>
              <button type="submit" id="submitButton" name="submitButton" class="btn btn-success btn-block" disabled><span class="glyphicon glyphicon-save-file"></span> Register</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
             </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/studentHome/profile/"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
                    <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
         </nav>
        {% block content %}{% endblock %}
    <script type="text/javascript">
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
        });
        $(document).ready(function(){
            $("#registerClass").click(function(){
                $("#myModal").modal();
            });
        });
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        var previous_classid = '';
        var in_ajax = 0;
        function checkClass() {
            var classid = $("#classid").val();
                if ((previous_classid != classid) && (classid != '') && (in_ajax != 1)) {
                in_ajax = 1;
                $("#checkclass_status").html("<img src='/core/static/load-icon.gif' />");
                $("#checkclass_status").load('/studentHome/checkclass/', {classid: classid}, function() {in_ajax = 0;});
            }
            previous_classid = classid;
        }
        function checkValues() {
            var val1 = document.getElementById('checkclass_status').innerHTML;
            document.getElementById("submitButton").disabled = val1 != "You can register to this class";

        }
        $(function() {
            setInterval("checkClass()", 100);
            setInterval("checkValues()", 10 );
        });
        </script>
    </body>
</html>