{% extends "studentDefault.html" %}
{% block title %}Welcome {% endblock %}
{% block head %}Welcome
<script type="text/javascript" src="/core/static/schools.js"></script>
{% endblock %}
{% load tags %}
{% block content %}
    <br><br>
    <div style="padding-left: 40%">
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
        {% if record_added == 'True' %}
   <div id="alert1" class="alert alert-success fade in" style="width: 30%; border-radius: 5px" align="center">
   <a href="/studentHome/profile/" id="close1" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Record Updated.</strong>
    </div>
    {% endif %}
    <form action="/studentHome/profile/" method="post" id="aclass">{% csrf_token %}
    <div class="form-control" style="width: 30%;  height: 690px; border-radius: 5px" align="center">
        <h2>Edit Profile</h2><br>
        <div class="form-group">
            <input type="text" name="first_name" id="first_name" value="{{ values.first_name }}" placeholder="Enter First Name" class="form-control">
        </div><br>
        <div class="form-group">
            <input type="text" name="last_name" id="last_name" value="{{ values.last_name }}" placeholder="Enter Last Name" class="form-control">
        </div><br>
          <div class="form-group">
           <select id="stype" name ="stype" class="form-control"></select>
        </div><br>
        <div class="form-group">
           <select id="school" name ="school" class="form-control"><option>{{ values.school }}</option></select>
        </div><br>
        <div class="form-group">
           <input type="text" name="faculty" id="faculty" value="{{ values.faculty }}" placeholder="Enter Faculty" class="form-control">
        </div><br>
        <div class="form-group">
            <input type="text" name="major" id="major" value="{{ values.major }}" placeholder="Enter Major" class="form-control">
        </div><br>
        <div class="form-group">
            <input type="text" name="emailid" id="emailid" value="{{ values.emailid }}" placeholder="Enter Email ID" class="form-control">
        </div><br><br>
        <input type="submit" class="btn btn-primary btn-lg" value="Submit"/>
    </div>
    </form>

    </div>
    <script language="javascript">
			populateStype("stype", "school");
</script>
{% endblock %}